li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /* 항목을 양쪽으로 분리 */
    align-items: center; /* 수직 정렬 */
}

span {
    flex-grow: 1; /* span이 가능한 공간을 차지하도록 설정 */
}

button {
    background-color: #f44336; /* 삭제 버튼 색상 */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f; /* 삭제 버튼 호버 색상 */
}

/* 수정 버튼 스타일 추가 */
button:first-of-type {
    background-color: #2196F3; /* 수정 버튼 색상 */
}

button:first-of-type:hover {
    background-color: #1976D2; /* 수정 버튼 호버 색상 */
}
